<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" type="text/css" href="global.css">
    <link rel="stylesheet" type="text/css" href="admin.css">
</head>
<body>
<header id="home">
    <!--navbar-->
    <nav class="navbar">
        <div class="nav-center">
            <!--nav header-->
            <div class="nav-header">

                <p id="NMR"><span id="nordic">Nordic <br></span> <span id="motorhome">Motorhome <br></span> <span id="rental">Rental</span></p>
                <button type="button" class="nav-toggle" id="nav-toggle">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <!--end of nav header-->

            <!--nav links-->
            <ul class="nav-links" id="nav-links">
                <!--single link-->

                <li>
                    <a href="/viewEmployeePage" class="nav-link" >manage employees</a>
                </li>
                </li>
                    <a href="/viewMotorhomePage" class="nav-link" >manage motorhomes</a>
                </li>
                </li>
                <a href="/viewAccessoryPage" class="nav-link" >manage accessories</a>
                </li>
                <li>
                    <a href="/makeReservation" class="nav-link" >make reservation</a>
                </li>
            </ul>

        </div>
    </nav>



    <!--HERO SECTION-->
    <div class="hero">
        <div class="hero-banner">
            <!--            <p th:text="${developer.toString()}"></p>-->

            <h1>Welcome <p th:text="${admin}"></p></h1>
        </div>
    </div>
</header>

</body>
</html>