<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Add New Reservation</title>
    <link rel="stylesheet" type="text/css" href="global.css">
    <link rel="stylesheet" href="add.css">

</head>
<body>

<div class="form-grid">
    <form action="/saveReservation" method="post">

        <div><input type='text' class='input-field' name="firsname" placeholder='Firstname' required></div>
        <div><input type='text' class='input-field' name="lastname" placeholder='Lastname' required></div>
        <div><input type='text' class='input-field' name="phone_nr" placeholder='Phone Nr' required></div>
        <div><input type='text'class='input-field'name="email" placeholder='Email' required></div>
        <div><input type='text'class='input-field'name="address" placeholder='Address' required></div>
        <div><input type='text'class='input-field'name="city" placeholder='City' required></div>
        <div><input type='date'class='input-field'name="start_date" placeholder='Start Date' required> </div>
        <div> <input type='date'class='input-field'name="end_date" placeholder='End Date' required> </div>
            <div><input type='text'class='input-field'name="motorhome_id" placeholder='Motorhome ID' required> </div>

        <button  type='submit' class='submit-btn'>Save</button>
    </form>
    </div>

</body>
<html>