<!--Emil & Martin-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <title>Add New Accessory</title>
  <link rel="stylesheet" type="text/css" href="css/global.css">
  <link rel="stylesheet" type="text/css" href="css/admin.css">

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar">
  <div class="nav-center">
    <!--nav header-->
    <div class="nav-header">
      <a href="/"> <img src="/images/logo1.png" class="nav-logo" alt=""></a>

      <button type="button" class="nav-toggle" id="nav-toggle">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <!--end of nav header-->

    <!--nav links-->
    <ul class="nav-links" id="nav-links">
      <!--single link-->

      <li>
        <a href="/viewEmployeePage" class="nav-link" >Employees</a>
      </li>
      </li>
      <a href="/viewMotorhomePage" class="nav-link" >Motorhomes</a>
      </li>
      </li>
      <a href="/viewAccessoryPage" class="nav-link" >Accessories</a>
      </li>
      <li>
        <a href="/viewReservationPage" class="nav-link" >Reservation</a>
      </li>
    </ul>

  </div>
</nav>

<div align="center">
  <h1 style="padding-top: 5%">Add New Accessory</h1>
  <form th:action="@{/saveAccessory}" method="post" th:object="${accessory}">

    <input type="text" name="name" placeholder="Name" class="form-control mb-4 col-2" required/>
    <input type="number" name="price" step="any" placeholder="Price" class="form-control mb-4 col-2" required>
    <input type="number" name="available" step="any" placeholder="Available quantity" class="form-control mb-4 col-2" required/>
    <input type="number" name="rented_out" step="any" placeholder="Rented out" class="form-control mb-4 col-2" required/>
    <input type="number" name="total_stock" step="any" placeholder="Total stock" class="form-control mb-4 col-2" required/>

    <button type="submit" class="btn">Save Accessory</button>
    <a th:href = "@{/viewAccessoryPage}" class="btn" style="background-color: var(--clr-grey-5)"> Back </a>

  </form>

</div>

</body>
<html>