<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Motorhome</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <h1>Update Motorhome</h1>
    <form th:action="@{/saveMotorhome}" method="post" th:object="${motorhome}">
        <input type="hidden" th:field="*{id}"/>
        <div class="row g-3">
            <div class="col-md-6">
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" required/>
            </div>
            <div class="col-md-6">
                <label for="make">Make</label>
                <input type="text" th:field="*{make}" class="form-control" id="make" required>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-md-4">
                <label for="model">Model</label>
                <input type="text" th:field="*{model}" class="form-control" id="model" required>
            </div>
            <div class="col-md-4">
                <label for="beds">Amount of Beds</label>
                <input type="number" th:field="*{beds}" id="beds" class="form-control" min="1" max="6" required/>
            </div>
            <div class="col-md-4">
                <label for="price">Price</label>
                <input type="text" th:field="*{price}" id="price" placeholder="0.0" class="form-control" required/>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-12">
                <label for="motorhomeType">Motorhome Type</label>
                <br>
                <select id="motorhomeType" th:field="*{motorhomeType}">
                    <option th:each="t : ${listOfTypes}" th:value="${t.id}" th:text="${t.type}" />
                </select>
            </div>

            <div class="col-md-12">
                <br>
                <button type="submit" class="btn btn-info col-2">Save Motorhome</button>
                <a th:href = "@{/viewMotorhomePage}" class="btn btn-secondary col-2"> Back </a>
            </div>
            <div/>

    </form>


</body>
</html>